# Directories
/.beatsaber/Playlists/
/.beatsaber/Beat Saber_Data
**/dist/
**/venv/
**/.venv/
**/__pycache__/
**/build/
*.egg-info/

# Files
/.vscode/*.code-snippets
/.vscode/settings.json
requirements.txt
*.pyc
_test*.py